/*
  Helper for unit convertion
  1px = 0.0625em
  2px = 0.125em
  3px = 0.1875em
  4px = 0.25em
  5px = 0.3125em
  6px = 0.375em
  7px = 0.4375em
  8px = 0.5em
  9px = 0.5625em
  10px = 0.625em
  11px = 0.6875em
  12px = 0.75em
  13px = 0.8125em
  14px = 0.875em
  15px = 0.9375em
  16px = 1em
*/

.calc-macwidget {
  margin: 0.9375em auto;
  border-radius: 0.4375em;
  padding: 0.4375em;
  max-width: 9.375em;
  font-size: 2em;
  color: #929292;
  background: #ff9c46;
  background: linear-gradient(
    to right,
    #ff6f33 0%, #ff8139 3%,
    #ff9c46 4%, #ff9c46 96%,
    #ff8139 97%, #ff6f33 100%
  );
}
.calc-macwidget .btn {
  float: left;
  display: inline-block;
  border: 0.125em solid #ffffff;
  border-radius: 50%;
  width: 2.4565em;
  height: 2.4565em;
  font-size: 0.7888em;
  line-height: 2.4563em;
  text-align: center;
  vertical-align: middle;
  color: #929292;
  background-color: #ffffff;
  background: linear-gradient(to bottom, #ffffff 50%, #eaeaea 100%);
  box-shadow: 0 0.0625em 0.125em 0.0625em #a2a2a2;
  cursor: pointer;
}
.calc-macwidget .btn:active {
  background: linear-gradient(to bottom, #eaeaea 50%, #ffffff 100%);
}
.calc-macwidget .btn.small {
  width: 1.5847em;
  height: 1.5847em;
  line-height: 1.3em;
}
.calc-macwidget .display {
  border-bottom: 0.4375em solid #ff9c46;
  border-radius: 0.4375em 0.4375em 0 0;
  padding: 0 0.625em;
  height: 3em;
  color: #255b7f;
  text-align: right;
  background: linear-gradient(
    to bottom,
    #b3dcf2 0%, #b3dcf2 50%,
    #a1d4f1 50%, #a1d4f1 100%
  );
  box-shadow: inset 0 0.125em  rgba(0,0,0,0.3);
}
.calc-macwidget .display .input {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  border: 0;
  border-radius: 0.4375em 0.4375em 0 0;
  padding: 0.14284em 0 0 0;
  width: 100%;
  height: 1.5544em;
  line-height: 1.5em;
  font-size: 0.775em;
  font-family: Verdana;
  outline: none;
  text-align: right;
  vertical-align: baseline;
  color: #255b7f;
  background-color: transparent;
}
.calc-macwidget .display .output {
  font-size: 0.7777em;
  line-height: 1.3333em;
  padding: 0.2009em 0;
}
.calc-macwidget .keyboard {
  display: table;
  border-radius: 0.4375em;
  padding: 0.3125em;
  background-color: #c8c8c8;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.calc-macwidget .brackets {
  box-sizing: border-box;
  float: left;
  clear: both;
  width: 100%;
}
.calc-macwidget .brackets .btn[data-name=backspace] {
  float: right;
  margin-left: 0.3125em;
}
.calc-macwidget .brackets .btn[data-name=backspace]::before {
  position: absolute;
  content: " ";
  margin: 0.317em 0 0 -0.317em;
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-right: 0.4em solid #929292;
  width: 0;
  height: 0;
}
.calc-macwidget .brackets .bracket {
  float: right;
  margin-left: 0.3125em;
}
.calc-macwidget .keyboard .operators {
  float: right;
  width: 20%;
}
.calc-macwidget .numbers {
  float: left;
  width: 80%;
}
.calc-macwidget .numbers .btn {
  margin-top: 0.2774em;
}
.calc-macwidget .numbers .btn:nth-child(3n-1) {
  margin-left: 0.2774em;
  margin-right: 0.2774em;
}
.calc-macwidget .operators .btn {
  float: right;
  margin: 0.3125em 0 0 0.3125em;
}
.calc-macwidget .operators .btn[data-name=equality] {
  border-radius: 0.75em;
  height: 3.1695em;
  line-height: 2.8525em;
}
