html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: Arial;
  font-size: 100%;
  line-height: 140%;
}
article,aside,details,footer,header,section {
  width: 100%;
}
menu,nav,label {
  display:block;
}
nav ul {
  list-style:none;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor:help;
}
table {
  border-collapse:collapse;
  border-spacing: 0;
}
hr {
  display:block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Heuvetica, Arial;
}
h1 {
  line-height: 1.5em;
  font-size: 2em;
}
h2 {
  line-height: 1.125em;
  font-size: 1.5em;
}
h3 {
  line-height: 1.25em;
  font-size: 1em;
}
a {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 100%;
  vertical-align:baseline;
  text-decoration: none;
  outline: none;
}
a:HOVER {
  font-weight: bold;
}
a:ACTIVE {
  color: #000000;
}
a:VISITED {
  color: #000000;
}
a:FOCUS {
  box-shadow: 0 0 0 1px;
}
a img {
  vertical-align: middle;
}
input, select, textarea, button, a {
  outline: none;
  transition: box-shadow 0.4s linear, outline 0.4s linear;
  -webkit-transition: box-shadow 0.4s linear, outline 0.4s linear;
}
input, select, textarea, button {
  vertical-align: middle;
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1em;
}
input, select, textarea {
  padding-left: 6px;
  padding-right: 6px;
}
input[type=text],
input[type=email],
input[type=password],
input[type=url],
textarea {
  width: 100%;
}
input[type=radio],
input[type=checkbox] {
  margin: 8px 2px 9px 2px;
  width: 15px;
  height: 15px;
}
textarea {
  min-height: 80px;
}
button {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #dddddd;
  outline: none;
}
button:HOVER {
  background-color: #cccccc;
}
button:ACTIVE {
  background-color: #bbbbbb;
}
table {
  width: 100%;
}
