/*
Helper for unit convertion
1px = 0.0625em
2px = 0.125em
3px = 0.1875em
4px = 0.25em
5px = 0.3125em
6px = 0.375em
7px = 0.4375em
8px = 0.5em
9px = 0.5625em
10px = 0.625em
10.0625em = 0.6875em
10.125em = 0.75em
13px = 0.8125em
14px = 0.875em
10.3125em = 0.9375em
16px = 1em
*/

@font-face{
  font-family:'Montserrat Alternates';
  font-style:normal;
  font-weight:400;
  src:local('MontserratAlternates-Regular'),
  url(../font/MontserratAlternates-Regular.ttf) format('opentype')
}
body {
  font-size: 100%;
  font-family: "Montserrat Alternates", Helvetica, Arial;
}
h1, h2 {
  line-height: 1.5em;
  text-align: center;
}
section {
  box-sizing: border-box;
  padding: 10em 0;
}
section:nth-child(2n-1) {
  background-color: #dddddd;
}
section h2 {
  font-size: 2em;
  text-shadow: 0.0625em 0.0625em 0.125em rgba(0,0,0,0.6);
}
.sidebar {
  box-sizing: border-box;
  overflow: hidden;
  position: fixed;
  width: 18.125em;
  height: 100%;
  background-color: #eeeeee;
  box-shadow: 0 0 0.1875em 0 rgba(0,0,0,0.4);
}
.hamburger-menu {
  display: none;
  margin: 1em;
  border-radius: 0.1875em;
  padding: 0.1875em;
  width: 2em;
  height: 2em;
  font-family: "Montserrat Alternates", Helvetica, Arial;
  color: #666666;
  background-color: transparent;
  cursor: pointer;
}
.hamburger-menu:hover {
  font-weight: bold;
  background-color: transparent;
}
.hamburger-menu:focus {
  box-shadow: 0 0 0 0.0625em #000000;
}
.hamburger-menu span {
  position: relative;
  float: left;
  margin-bottom: 0.1875em;
  border-radius: 0.1875em;
  width: 100%;
  height: 0.3125em;
  background-color: #666666;
}
.hamburger-menu .text {
  background: none;
  position: absolute;
  text-align: left;
  margin: 0.1875em 0 0 2em;
  height: 1em;
  width: auto;
}
.hamburger-menu span:last-child {
  margin-bottom: 0;
}
.main-menu {
  margin-top: 4em;
}
.main-menu .item {
  overflow: hidden;
  display: block;
  margin-bottom: 0.5em;
  height: 3.125em;
  line-height: 3.125em;
  color: #ffffff;
  box-shadow: 0 0.0625em 0.1875em 0 rgba(0,0,0,0.4);
}
.main-menu .item:focus {
  box-shadow: 0 0 0 0.0625em #000000;
}
.main-menu .item.active {
  width: 101%;
}
.main-menu .item .icon {
  margin: 0 1em;
}
.main-menu .item-terminal {
  background-color: #66cc66;
}
.main-menu .item-macwidget {
  background-color: #85acd3;
}
.main-menu .item-custom {
  background-color: #b48fe6;
}
.sidebar aside {
  position: relative;
  top: 2em;
}
.github-profile,
.github-project {
  overflow: hidden;
  display: block;
  height: 3.125em;
  line-height: 3.125em;
}
.github-profile img,
.github-project img {
  margin: 0 1em;
}
.main {
  margin-left: 18.125em;
}
#terminal {
  border-top: 0.3125em solid #1ea935;
  font-family: Monaco, 'Lucida Console', Arial;
  background-color: #66cc66;
}
#macwidget {
  border-top: 0.3125em solid #3276b5;
  font-family: Helvetica, Arial, Sans-serif;
  background-color: #85acd3;
}
#macwidget h2 {
  font-family: Helvetica, Arial, Sans-serif;
}
#custom {
  border-top: 0.3125em solid #7e5ab8;
  font-family: Helvetica, Arial, Sans-serif;
  background-color: #b48fe6;
}

@media screen and (max-width: 780px) {
  .sidebar {
    width: 4em;
  }
  .hamburger-menu {
    display: block;
  }
  .main-menu {
    margin-top: 0;
  }
  .main {
    margin-left: 4em;
  }
  section {
    padding: 5em 0;
  }
}
@media screen and (max-width: 560px) {
  .sidebar {
    overflow: hidden;
    width: 100%;
    height: 4em;
  }
  .main {
    margin-left: 0;
  }
}
