@font-face{
  font-family:'Montserrat Alternates';
  font-style:normal;
  font-weight:400;
  src:local('MontserratAlternates-Regular'),
  url(../font/MontserratAlternates-Regular.ttf) format('opentype')
}
body {
  font-size: 100%;
  font-family: "Montserrat Alternates", Helvetica, Arial;
}
h1, h2 {
  line-height: 1.5em;
  text-align: center;
}
header {
  border-bottom: 5px solid #31913E;
  padding: 50px 0;
  background-color: #66cc66;
}
header h1 {
  font-size: 4em;
  color: #ffffff;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}
section {
  padding: 30px 0;
}
section:nth-child(2n-1) {
  background-color: #dddddd;
}
section h2 {
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}
footer {
  padding: 30px 0;
  font-size: 1em;
  line-height: 2em;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}
footer a {
  display: inline-block;
}

#terminal {
  border-bottom: 5px solid #333333;
  font-family: Monaco, 'Lucida Console', Arial;
  background-color: #dddddd;
}
#macwidget {
  border-bottom: 5px solid #3276b5;
  font-family: Helvetica, Arial, Sans-serif;
  background-color: #85acd3;
}
#macwidget h2 {
  font-family: Helvetica, Arial, Sans-serif;
}
.container {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1024px;
}
.name {
  font-size: 2em;
  color: #000000;
}
.github {
  display: inline-block;
  line-height: 2.3em;
}
.github img {
  float: left;
  margin-right: 5px;
}
