{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "react",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "16.7"
    },
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "jest/globals": true
  },
  "globals": {
    "$": true,
    "browser": true,
    "console": true,
    "document": true,
    "fetch": true,
    "global": true,
    "navigator": true,
    "process": true,
    "Promise": true,
    "URL": true,
    "setTimeout": true,
    "window": true
  }
}
