/* Page */
@import "components/reset";
@import "components/global-vars";
@import "components/header";
@import "components/main";
@import "components/footer";

/* Other */
@import "components/animations";

/* Calc */
@import "calc/calc-custom";
@import "calc/calc-terminal";
@import "calc/calc-macwidget";

@font-face {
  font-family:'Montserrat Alternates';
  font-style:normal;
  font-weight:400;
  src:local("MontserratAlternates-Regular"),
  url("MontserratAlternates-Regular.ttf") format("opentype")
}

.app {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial;

  &.compressed {
    flex-flow: row nowrap;
  }

  &.top {
    flex-flow: column nowrap;
  }

  &.modal-sidebar.top {
    flex-flow: row nowrap;
  }

  @media (max-width: @smartphone) {
    .app.top();
  }
}
